/* font family  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

:root {
--green: hsl(75, 94%, 57%);
--text-color: hsl(0, 0%, 100%);
--Grey-700: hsl(0, 0%, 20%);
--Grey-800: hsl(0, 0%, 12%);
--Grey-900: hsl(0, 0%, 8%);
--fw-normal: 400;
--fw-semi-bold: 600;
--fw-bold: 700;
}

html {
  font-size: 62.5%;
}
body {
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  background-color: var(--Grey-900);
 
}
.profile {
    max-width: 300px;
    
    margin: 80px auto;
    background-color: var(--Grey-800);
    color: var(--text-color);
    text-align: center;
    border-radius: 10px;
    padding: 15px 15px;
    
}
.profile .profile-image img {
    width: 100%;
    max-width: 60px;
    height: 60px;
    margin-top: 10px;
    border-radius: 50%;
    
}
.profile .profile-title {
    font-weight: var(--fw-bold);
    margin-top: 15px;
    padding: 10px 0;
}

.profile .profile-title h3 {
    color: var(--green);
    font-weight: var(--fw-semi-bold);
    margin-bottom: 20px;
    margin-top: 5px;
    font-size: 12px;
}


a {
    text-decoration: none;
}
.social-media {
    margin-top: 15px;
    display: flex;
    flex-direction: column
    
}
.social-media a  {
    background-color: var(--Grey-700);
    margin: 5px 15px;
    padding: 10px 15px;
    border-radius: 10px;
    color: var(--text-color);
    font-weight: var(--fw-normal);
    transition: 0.3;
    cursor: pointer;
}
.social-media a:hover {
    background-color: var(--green);
    color: var(--Grey-900);
    
}